# Rust / Cargo
/target/

.vscode/

.env

# Example Wally packages
**/Packages
**/DevPackages
**/ServerPackages
tests/example/WallyVendor
tests/extreme-example/VendorDev
tests/extreme-example/VendorShared
tests/extreme-example/VendorServer